@charset "gb2312";
/* mobanwang.com */

body{font-size:100%;background-color:#F8E6E6; padding-top:104px;}
h1{font-size:1rem; line-height:3rem; color:#C51D1D; margin-bottom:0;}
a{color:#C51D1D;text-decoration:none;}
a:hover{color:#C51D1D;}

.mb-lh-2r{line-height:2rem;}
.mb-color-666{color:#666;}
.mb-color{color:#C51D1D;}
.mb-bg-w{background-color:#fff;}
.mb-h1{font-size:2rem; text-align:center;}
.mb-h2{background-color:#f5d1d1;color:#C51D1D; padding-left:20px;}
.mb-h2 h2{font-size:1rem; font-weight:700; line-height:2.5rem; margin-bottom:0;}
.mb-h3{font-size:1.2rem; font-weight:700;}
.mb-mt-10{margin-top:10px;}
.mb-mt-15{margin-top:15px;}
.mb-mt-20{margin-top:20px;}
.mb-mt-60{margin-top:60px;}
.mb-mb-10{margin-bottom:10px;}
.mb-mb-20{margin-bottom:20px;}
.mb-mtb-10{margin-top:10px; margin-bottom:10px;}
.mb-mtb-5{margin-top:5px; margin-bottom:5px;}
.mb-mtb-20{margin-top:20px; margin-bottom:20px;}
.mb-mlr-50{margin-right:50px;margin-left:50px;}
.mb-plr-0{padding-right:0;padding-left:0;}
.mb-pb-50{padding-bottom:50px;}
.mb-p-10{padding:10px;}
.mb-p-20{padding:20px;}
.mb-p-40{padding:40px;}
.mb-pt-20{padding-top:20px;}
.mb-pt-30{padding-top:30px;}
.mb-ptb-10{padding-top:10px; padding-bottom:10px;}
.mb-ptb-20{padding-top:20px; padding-bottom:20px;}
.mb-plr-30{padding-right:30px;padding-left:30px;}

.mb-h-30{height:30px;}
.mb-h-50{height:50px; line-height:50px;}
.mb-h-80{height:80px;}
.mb-h-100{height:100px;}
.mb-h-150{height:150px;}
.mb-b-line{border-bottom:1px solid #F0D6D6;}
.mb-overflow{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.mb-br-10{border-radius:10px;overflow:hidden;}

.mb-btn-search{background-color:#ebb8b8; color:#C51D1D; border:0;}
.mb-btn{letter-spacing:10px; background-color:#df8888; color:#fff; border:0; padding:12px 60px 14px; font-size:30px; margin:10px 0;}
.mb-btn-s{letter-spacing:10px; background-color:#df8888; color:#fff; border:0; padding:10px 60px 8px; font-size:30px;}
.mb-btn-s p{font-size:16px; margin-bottom:0;}

.mb-c{color:#C51D1D;}


.mb-btn-more{border:1px solid #df8888; border-radius:30px;color:#C51D1D;}
.mb-btn-more:hover{background-color:#df8888;color:#fff;}
.mb-bgc-1{background-color:#f5d1d1;}
.mb-bgc-2{background-color:#F8E6E6;}
.mb-bgc-3{background-color:#ebb8b8;}
.mb-bgc-fff{background-color:#fff;}
.mb-bgc-title{background-color:#f5d1d1;}
.mb-border{border:1px solid #ebb8b8;}
.mb-navCategory{background-color:#fff;}
.mb-searchTop{height:106px;background:#df8888;color:#fff;}
.mb-intro{padding:20px 30px;background-color:#f8e6e6;color:#C51D1D; font-size:16px;line-height:2.5rem;border:1px solid #f0d6d6;border-radius:20px;}

.nav-link:hover{color:#C51D1D;font-weight:700;}

.mb-icon-cont{background-color:#F8E6E6; border:1px solid #F0D6D6; padding:20px;}
.mb-fonts-img01{background-color:#F8E6E6; border:1px solid #F0D6D6; padding:20px 0;}
.mb-fonts-img02{background-color:#fff; margin:0 auto; border:1px solid #F0D6D6; width:95%}
.mb-container{background-color:#fff;}
.mb-container-list{background-color:#FFF;padding-top:20px; padding-bottom:15px; margin-bottom:20px;}
.mb-img img{border:5px solid #f0d6d6; padding:5px; cursor:pointer;}
.mb-mblist a{display:inline-block;margin-top:20px; margin-bottom:30px;color:#C51D1D;font-weight:700; text-decoration:none; transition:.3s ease-in-out;box-shadow: 0 40px 30px -40px #969696; -webkit-box-shadow: 0px 40px 30px -40px #969696; -moz-box-shadow: 0px 40px 30px -40px #969696; -o-box-shadow: 0px 40px 30px -40px #969696;border-radius: 10px; overflow:hidden;}
.mb-mblist p{margin-bottom:0;}
.mb-mblist a:hover p{background-color:#EFB7B7;}
.mb-mblist a:hover{text-decoration:none;}
.mb-mblist img {box-sizing:border-box;transition: 0.3s;position: relative;z-index:1;}
.mb-mblist a:hover img {box-sizing:border-box; transform: scale(1.1);}
.mb-mblist a.freefonts {position: absolute;display: inline-block;bottom: 50px;right: 20px;margin: 0;padding: 2px 3px;z-index: 9999;border-radius: 8px;background-color: #C51D1D;color: #F8E6E6;font-size: 0.6rem;font-family: 'ו';}
.mb-mblist-overlay {margin-left: auto;margin-right: auto;overflow:hidden;}
.mb-fontslist-overlay {max-width:590px;margin-left: auto;margin-right: auto;}
.mb-fontslist-overlay img{padding:10px;}
.mb-figcaption{background-color:#F2D4D4; height:50px; line-height:50px;z-index:2;}

.mb-nav{background:#df8888;color:#fff; padding:3px;}
.mb-nav>a{color:#fff;}
.mb-link{padding:20px;}
.mb-link a{color:#666;}

.mb-navbar{color:#C51D1D; padding:0;}
.mb-navbar a{color:#C51D1D;}
.mb-navM{line-height:3;color:#666; padding-left:10px;margin-bottom:0;}
.mb-navM a{color:#666; text-decoration:none;}
.top90{margin-top:90px;background-color:#f5d1d1;}
.top66{margin-top:66px;background-color:#f5d1d1;}
.top104{margin-top:104px;}
.top114{margin-top:114px;}



.modal img{max-width:100%; height:auto; margin:0 auto; display:block;box-shadow: 0 0 10px #888888;border-radius:10px;}
.modal-header{background-color:#df8888; color:#fff;}
/*.offcanvas-header{background:#df8888;}
.card{background:#f5d1d1;border:0;border-radius:0;border-bottom:1px solid #fff;}
.card-header{background:#f5d1d1;border:0;border-radius:0;}*/
.d-grid{margin:20px 30px;}
.navbar-toggler{float:right; padding:.25rem .5rem;border-color:rgba(255,255,255,.3)!important; border-width:3px;}
.navbar-collapse {position: fixed;top: 90px;right: 0px;background: white;width: 150px;padding: 15px;}

.offcanvas-end{width:50%;}
.offcanvas-body{padding:0;margin-bottom:10px;}
.offcanvas-header{margin-bottom:10px; background-color:#df8888; border:0; color:#fff;}
.card{margin:0 10px;border-color:#f5d1d1;background-color:#F8E6E6;}
.card-header{border-color:#f5d1d1;background-color:#F8E6E6;}

.offcanvas-body{padding:10px;}
.nav-pills{margin:0 10px;}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{background-color:#df8888; color:#fff; font-weight:700;}
.nav-link{color:#C51D1D;}

.mb-btn-highlight{background-color:#df8888;border-color:#f5d1d1;color:#fff;margin-top:5px;margin-bottom:5px;}
.mb-btn-highlight:hover{color:#fff;font-weight:700;}
.btn-primary:hover, .btn-primary:focus{background-color:#C51D1D; color:#fff;}
.btn-outline-secondary{border-color:#f5d1d1;margin-top:5px;margin-bottom:5px; background-color:#fff;}
.btn-outline-secondary:hover{background-color:#df8888;border-color:#f5d1d1;color:#fff;}
.d-block{color:#C51D1D; text-align:inherit; font-size:1.2rem;}
.d-block:hover{color:#C51D1D;}

.copyright{line-height:30px; background:#f5d1d1; padding-top:15px; padding-bottom:15px;color:#666;}
.copyright a{color:#666;}
.page-item.active .page-link{background-color:#C51D1D;border-color:#C51D1D;}

.pagination{margin-top:20px;}
.page-link{color:#C51D1D;border-color:#f5d1d1;}
.page-link:hover{color:#C51D1D;border-color:#f5d1d1;background-color:#F8E6E6;}
.page-item.disabled .page-link{border-color:#f5d1d1;}
.page{height:20px; line-height:20px; padding:15px 0; text-align:center;vertical-align:middle; font-family:"ו";  margin-bottom:20px;}
.page span{height:20px; padding:3px 0px; height:14px; line-height:14px;color:#C14848;display:inline-block;}
.page span.pageOn{font-weight:bold; color:#C51D1D;}
.page a{height:20px; padding:3px 6px; height:14px; line-height:14px; border:1px solid #D89F9F; display:inline-block; background-color:#F8E6E6; color:#C14848;}
.page a:visited{ color:#C14848;}
.page a:hover{text-decoration:none; background-color:#993838; border:1px solid #993838; color:#fff;}
.page a:active{ color:#C14848;}
.page input{border:1px solid #D89F9F;width:35px; margin:0 2px; display:inline-block;}

.back-to-top {cursor: pointer;position: fixed;bottom: 20px;right: 20px;display:none;color:#df8888;}

@media (max-width: 576px) {
    .min-w390{min-width: 390px;}
	.offcanvas-end{width:400px;}
	.mb-h1{font-size:1.5rem;}
}